.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-button:hover {
  transform: scale(1.1); /* Aumenta o tamanho do botão */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra */
}

.whatsapp-icon {
  width: 60px;
  height: 60px;
  color: #25D366; /* Cor verde do WhatsApp */
}
