.App {
  text-align: center;
  margin: 20px; /* Adicionado espaçamento ao redor do componente */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: var(--mui-palette-background-paper); /* Usando a variável do Material-UI */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--mui-palette-text-primary); /* Usando a variável do Material-UI */
  gap: 20px; /* Adicionado espaçamento entre os elementos filhos */
}

.App-link {
  color: var(--mui-palette-primary-main); /* Usando a variável do Material-UI */
  margin: 10px 0; /* Adicionado espaçamento vertical */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}